#忽略的文件
build/
resources/css
resources/fonts
resources/images
resources/js
resources/video/
resources/*.html
log/*.log
*.txt
*.ini
mysqlconnection.h
mysqlconnection.cpp

mysqlconnectionpool.h
mysqlconnection.cpp
